html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

h5{
	margin: 0px;
}

p {
  font-size: inherit;
}


/* KaiOS portrait devices (240x320) */
@media only screen and (orientation : portrait) {

	.tuner {
		width: 100%;
		height: 100%;
		background-color: #3D3D3D;
		position: relative;
	}


	.note-circle {
		width: 100px;
		height: 100px;
		left: 65px;
		top: 145px;
		background-color: #3D3D3D;
		border-radius: 100%;
		position: absolute;
		border: 5px solid #C5C5C5;
		text-align: center;
		vertical-align: middle;
		line-height: 100px;
		color: #C5C5C5;
		font-size: 30px;
	}

	.middle-mark{
		width: 6px;
		height: 20px;
		left: 117px;
		top: 10px;
		position: absolute;
		background-color:  #C5C5C5;
	}

	.arrow {
		width: 30px;
		left: 105px;
		top: 20px;
		position: absolute;

		box-sizing:border-box;
		transition: transform 0.1s ease;
		transform-origin: bottom;

		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 180px solid #ff6b6b;
	}

	.good .arrow {
		border-bottom-color: #4ecdc4;
	}

	.footer {
		width: 100%;
		bottom: 0px;
		position: absolute;
		color: #C5C5C5;
	}

	.softkey-left {
		position: absolute;
		left: 0.5rem;
		bottom: 0.5rem;
	}

	.frequency{
		position: absolute;
		right: 0.5rem;
		bottom: 0.5rem;
	}

}